BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.RuleBasedDocType ADD
	FileType varchar(10) NULL
GO
ALTER TABLE dbo.RuleBasedDocType ADD CONSTRAINT
	DF_RuleBasedDocType_FileType DEFAULT 'PDF' FOR FileType
GO
ALTER TABLE dbo.RuleBasedDocType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

UPDATE dbo.RuleBasedDocType SET FileType = 'PDF' WHERE Description NOT LIKE '%Application%'
UPDATE dbo.RuleBasedDocType SET FileType = 'Word' WHERE Description LIKE '%Application%'