<div class="navbar navbar-inverse" role="navigation" style="position: relative; z-index: 99;">
  <div class="navbar-header">
    <a class="navbar-brand" href="javascript: void(0);" ui-sref="app.home"><img src="/Content/images/RSUI-Logo-White-53x30.png" alt="RSUI"></a>
    <a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu-right">
      <span class="sr-only">Toggle navbar</span>
      <i class="icon-grid3"></i>
    </button>
    <button type="button" class="navbar-toggle offcanvas">
      <span class="sr-only">Toggle navigation</span>
      <i class="icon-paragraph-justify2"></i>
    </button>
  </div>
  <ul class="nav navbar-nav navbar-right collapse" id="navbar-menu-right">
    <li><a href="javascript: void(0);"><i class="icon-grid"></i> Link</a></li>
    <li class="dropdown">
      <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-paragraph-justify2"></i> Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu icons-right dropdown-menu-right">
        <li><a href="javascript: void(0);"><i class="icon-cogs"></i> This is a</a></li>
        <li><a href="javascript: void(0);"><i class="icon-grid3"></i> Dropdown</a></li>
        <li><a href="javascript: void(0);"><i class="icon-spinner7"></i> With right</a></li>
        <li><a href="javascript: void(0);"><i class="icon-link"></i> Aligned icons</a></li>
      </ul>
    </li>
  </ul>
</div>