<div class="tabbable page-tabs">
  <ul class="nav nav-tabs border" ui-tabs>
    <li class="active"><a href="#global" data-toggle="tab"><i class="icon-globe"></i> Global Setup</a></li>
    <li><a href="#preset" data-toggle="tab"><i class="icon-quill2"></i> Preset</a></li>
    <li><a href="#state" data-toggle="tab"><i class="icon-settings"></i> State Settings For This Page</a></li>
    <li><a href="#settings" data-toggle="tab"><i class="icon-wrench2"></i> Other Layout Settings</a></li>
  </ul>
  <div class="tab-content border">
    <div class="tab-pane active fade in" id="global">
      <div>When creating your web application, you can set the default layour simply by changing the preset in app.routes.js. When doing this, all pages will inherient the states and you simply need to change our the main-content with your page.</p></div>
      <h5 class="text-info mt20">Adjust Line #4 as seen below:</h5>
      <pre class="prettyprint linenums" starting-line-number="4">
var preset = settings.presets.navbarFixed;
</pre>
      <h5 class="text-primary mt20">Here is the complete code for the initial state 'app':</h5>
      <pre class="prettyprint linenums">
angular.module('app.routes', ['ui.router'])
  .config(['$stateProvider', '$urlRouterProvider', 'LayoutSettings', function ($stateProvider, $urlRouterProvider, settings) {
    $urlRouterProvider.otherwise('/');
    var preset = settings.presets.navbarFixed;
    $stateProvider
      .state('app', {
        'abstract': true,
        views: {
          'container@': preset.views.container,
          'navbar@app': preset.views.navbar,
          'sidebar@app': preset.views.sidebar,
          'page-header@app': preset.views.pageHeader,
          'breadcrumbs@app': preset.views.breadcrumbs,
          'footer@app': preset.views.footer
        },
        data: {
          classes: preset.classes,
          security: {
            auth: false
          },
          pageInfo: {
            title: 'App'
          },
          breadcrumb: {
            proxy: 'app.home'
          }
        }
      });
  }]);
</pre>
      <h5 class="mt20"><i class="icon-info2 text-info"></i><span class="text-info"> NOTE:</span> This is the default layout when first creating your project.</h5>
    </div>
    <div class="tab-pane fade in" id="preset">
      <pre class="prettyprint linenums">
presets: {
  navbarFixed: {
    classes: {
      body: 'navbar-fixed full-width',
      navbar: 'navbar navbar-inverse navbar-fixed-top'
    },
    views: {
      container: {
        templateUrl: '/app/views/layout/layout-navbar.tpl.html'
      },
      navbar: {
        templateUrl: '/app/views/layout/navbars/layout-navbars-navbar.tpl.html',
        controller: 'LayoutNavbarCtrl as navbar'
      },
      pageHeader: {
        templateUrl: '/app/views/layout/page-headers/layout-page-headers-default.tpl.html'
      },
      breadcrumbs: {
        templateUrl: '/app/views/layout/breadcrumbs/layout-breadcrumbs-default.tpl.html'
      },
      footer: {
        templateUrl: '/app/views/layout/footers/layout-footers-default.tpl.html'
      }
    }
  }
}
</pre>
    </div>
    <div class="tab-pane fade in" id="state">
      <pre class="prettyprint linenums">
(function (module) {
  module.config(['$stateProvider', '$urlRouterProvider', 'LayoutSettings', function ($stateProvider, $urlRouterProvider, layouts) {
    $stateProvider
      .state('app.gettingStarted.page-layouts.navbar-fixed', {
        url: '/navbar-fixed',
        views: {
          'container@': layouts.presets.navbarFixed.views.container,
          'navbar@app.gettingStarted.page-layouts.navbar-fixed': layouts.presets.navbarFixed.views.navbar,
          'page-header@app.gettingStarted.page-layouts.navbar-fixed': layouts.presets.navbarFixed.views.pageHeader,
          'breadcrumbs@app.gettingStarted.page-layouts.navbar-fixed': layouts.presets.navbarFixed.views.breadcrumbs,
          'footer@app.gettingStarted.page-layouts.navbar-fixed': layouts.presets.navbarFixed.views.footer,
          'main-content@app.gettingStarted.page-layouts.navbar-fixed': {
            templateUrl: '/app/views/gettingStarted/pageLayouts/navbar-fixed.tpl.html',
            controller: 'HomeCtrl as home'
          }
        },
        data: {
          classes: layouts.presets.navbarFixed.classes,
          pageInfo: {
            seo: {
              description: 'Bootstrap & Jquery UI components',
              keywords: 'Bootstrap,Jquery UI'
            },
            title: 'Navbar Fixed',
            description: 'Information on the Included Page Layouts and How to Use Them.'
          }
        }
      });
  }]);
})(angular.module('gettingStarted.routes', ['ui.router']));
</pre>
    </div>
    <div class="tab-pane fade in" id="settings">
      <div ng-include="'app/views/gettingStarted/pageLayouts/settings.tpl.html'"></div>
    </div>
  </div>
</div>