	<!-- Error wrapper -->
<div class="error-wrapper text-center">
  <h1>404</h1>
  <h6>- Oops, an error has occurred. Page not found! -</h6>
  <!-- Error content -->
  <div class="error-content">
    <form class="block-inner" action="#">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Search</button>
        </span>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <a ui-sref="app.home" class="btn btn-info btn-block">Back to Home</a>
      </div>
    </div>
  </div>
  <!-- /error content -->

</div>
<!-- /error wrapper -->
