<div ui-view="container" class="page-container"></div>
<div data-ng-show="spinEvent.isBusy">
  <div class="page-splash"></div>
  <div class="spinner-content" data-busy-spinner></div>
  <div class="spinner-content-message" ng-bind="spinEvent.busyMessage"></div>
</div>
